<div>
  <% if user_signed_in? %>
    <% if current_user == @user || current_user.admin? %>
      <%= link_to "新規投稿へ", new_top_path %>
      <% @tops.each do |t| %>
        <%= link_to "編集する", edit_top_path(t.id) %>
       <% end %>
    <% end %>
  <% end %>
  <% @tops.each do |t| %>
      <div class="news">
        <div class="news_title">News</div>
        <div><%= simple_format(t.news) %></div>
      </div>
      <div class="introduction">
       <%= simple_format(t.introduction) %>
      </div>
  <% end %>
</div>