/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 5%;
  box-sizing: border-box;
}
header {
  background-color: #ffffff;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9fa0a0;
}
.title {
  color: #007bbb;
  margin-left: 1%;
  font-size: 50px;
  font-weight: 800;
}
.link {
  text-decoration: none;
  color: #007bbb;
  font-weight: 800;
  margin-right: 5px;
}
.border {
  color: #007bbb;
}
footer {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer_name {
  text-align: center;
  font-size: 9px;
  color: #007bbb;
}
.my_link {
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 1%;
}
