// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-image{
  max-width: 20%;
  margin-left: 25%;
  margin-top: 10%;
}
.photo_name{
  display: flex;
}
.name{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.my-info{
  margin-top: 12%;
  margin-left: 10%;
}
.jp_name{
  font-size: 35px;
}
.en_name{
  font-size: 17px;
  color: #9FA0A0;
}
.info{
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  margin-top: 10%;
  width: 100%;
  padding: 20px;
}
.public_relations{
  background-color: #F3F3F3;
  text-align: center;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
}
.text{
  margin-left: 30%;
  width: 50%;
  margin-bottom: 5%;
}
.skill_text{
  text-align: center;
  margin-left: 25%;
  width: 50%;
  margin-bottom: 3%;
}
.skill_text_frame{
  text-align: center;
  margin-left: 25%;
  width: 50%;
  margin-bottom: 3%;
}
.skill_text_other{
  text-align: center;
  margin-left: 25%;
  width: 50%;
}
.index{
  margin-left: 25%;
  width: 50%;
  font-size: 30px;
  border-bottom: 1px solid #727171;
  text-align: center;
  margin-bottom: 3%;
  font-weight: 600;
  color: #727171;
}
.skill{
  margin-left: 37%;
  width: 25%;
  font-size: 20px;
  border-bottom: 1px solid #727171;
  text-align: center;
  margin-bottom: 2%;
  font-weight: 400;
  color: #727171;
}
.image{
  max-width: 29px;
}
.profile_title{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #007bbb;
  padding-top: 3%;
}