// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.news{
  width: 40%;
  margin: 10% auto;
  text-align: center;
}
.news_title{
  font-size: 25px;
  font-weight: 700;
  color: #727171;
  border-bottom: 1px solid #9FA0A0;
}
.introduction{
  background-color: #F3F3F3;
  width: 40%;
  margin: 10% auto;
  padding: 2%;
  text-align: center;
}